.des{
    display: flex;
    text-align: center;
    color: white;
    font-weight: bold;
    margin: 20px;
}
.containera22{
  background:rgba(0,0,0,0.4);
  
  color:#fff;
  display:block;
  width:75%;
}

.container22{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('/public/images/im28.png');  background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  

      height: 400px;
      opacity: 0; /* Ajout d'une opacité initiale à 0 */
  transform: translateY(20px); /* Ajout d'un décalage initial de 20px vers le bas */
  animation-name: fadeAndSlide; /* Nom de l'animation */
  animation-duration: 1s; /* Durée de l'animation */
  animation-delay: 0.5s; /* Délai de démarrage de l'animation */
  animation-fill-mode: forwards; /* Maintenir les styles de fin d'animation */
  
  
  }

 
/* Définition de l'animation */
@keyframes fadeAndSlide {
    0% {
      opacity: 0; /* Opacité initiale */
      transform: translateY(20px); /* Décalage initial */
    }
    100% {
      opacity: 1; /* Opacité finale */
      transform: translateY(0); /* Pas de décalage */
    }
  }

  /* Media query for screens smaller than 600px */
@media (max-width: 600px) {
    .container22{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-image: url('/public/images/im28.png');  background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      
        opacity: 0.75;
          height: 850px;
      
      
      
      }
  
}